<app-card>
<div>
    <h3>Title: {{recipe()?.title}}</h3>
    <h3>Id: {{recipe()?.id}}</h3>
    <h3>Favourite? {{recipe()?.favourite}}</h3>
    @if (detailView()){
      <p>Ingredients: {{recipe()?.ingredients}}</p>
      <p>Comments: {{recipe()?.comments}}</p>
    }
</div>
  <div class="aside">
  <div class="vl"></div>
  <div class="card-action-buttons">
  <app-favourite-button [recipeId]="recipe()?.id ?? ''"/>

  @if (!detailView()){
      <button matFab extended (click)="goToDetailPage(recipe()?.id)">See All Details</button>
    }
    @if (detailView()){
      <button matFab extended (click)="addComment()">Add Comment</button>
      <button matFab extended (click)="goToEditRecipe(recipe()?.id)">Edit Recipe</button>
      <button matFab extended (click)="deleteRecipe(recipe()?.id)">
        <mat-icon>delete</mat-icon>
        Delete Recipe
      </button>
    }

</div>
  </div>
</app-card>


