<app-card>
<div class="details-card">
    <h3>Id: {{recipe()?.id}}</h3>
    <h2>{{recipe()?.title}}</h2>
    <p>Favourite? {{recipe()?.favourite}}</p>
    @if (detailView()){
        <h3>Ingredients: </h3>
        <ul>
      @for (ingredient of recipe()?.ingredients; track ingredient){
          <li>{{ingredient}}</li>
      }
        </ul>
      <h3>Preparation:</h3>
      <p>{{recipe()?.preparation}}</p>
      <h3>Comments:</h3>
      @for (comment of recipe()?.comments; track comment){
        <div class="comment-card">
          {{ comment }}
        </div>
      }
    }
</div>
  <div class="aside">
  <div class="vl"></div>
  <div class="card-action-buttons">
  <app-favourite-button [recipeId]="recipe()?.id ?? ''"/>

  @if (!detailView()){
      <button matFab extended (click)="goToDetailPage(recipe()?.id)">See All Details</button>
    }
    @if (detailView()){
      <button matFab extended (click)="addComment()">Add Comment</button>
      <button matFab extended (click)="goToEditRecipe(recipe()?.id)">Edit Recipe</button>
      <button matFab extended (click)="deleteRecipe(recipe()?.id)">
        <mat-icon>delete</mat-icon>
        Delete Recipe
      </button>
    }

</div>
  </div>
</app-card>


